nav>ul {
    display: flex;
}

nav li {
    list-style-type: none;
    margin-right: 10px;
    padding: 5px;

}

nav li a {
    text-decoration: none;
    font-size: 1.3rem;
}

nav li:hover {
    background-color: lightgray;
    display: block;
}

/* nested navbar */
nav li .dropdown {
    display: none;
    position: absolute;
    background-color: lightcyan;
    padding-left: 10px;
}

nav li:hover>.dropdown {
    display: block;
}