nav>ul {
    display: flex;
}

nav li {
    list-style-type: none;
    margin-right: 10px;
    padding: 5px;

}

nav li a {
    text-decoration: none;
    font-size: 1.3rem;
}

nav li:hover {
    background-color: lightgray;
}