.parent {
    padding: 25px;
    background-color: antiquewhite;
    display: flex;
    gap: 30px;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    height: 500px;

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;


}

.child {
    font-size: 20px;
    background-color: lightgreen;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}