nav>ul {
    display: flex;
}

nav>ul>li {
    list-style-type: none;
    margin-right: 10px;
    padding: 5px;

}

nav>ul>li>a {
    text-decoration: none;
    font-size: 1.3rem;
}

ul>li:hover {
    background-color: lightgray;
}