nav>ul>li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}

nav>ul>li>a {
    text-decoration: none;
}


footer {
    margin-top: 20px;
    text-align: center;
}

img {
    width: 100%;
}